{% extends "fablab/base.html" %}

{% load static %}
{% block content %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Fablab Jerez Altillo School</h1>
        <p class="lead text-muted">Where you can make your imagination a reaity!.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Book a course</a>
          <a href="#" class="btn btn-secondary my-2">Book a session</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'fablab/ultimaker2.jpg' %}" alt="3D printers">
            <div class="card-body">
              <p class="card-text">Description for 3D printers.</p>
              <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <button type="button" class="btn btn btn-outline-secondary">More detail</button>
                  <button type="button" class="btn btn btn-outline-secondary">Book a machine</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'fablab/laserCutter.jpg' %}" alt="Laser cutter">
            <div class="card-body">
              <p class="card-text">Description for laser cutter.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn btn-outline-secondary">More detail</button>
                  <button type="button" class="btn btn btn-outline-secondary">Book a machine</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'fablab/CNCrouter.jpg' %}" alt="3D printers">
            <div class="card-body">
              <p class="card-text">Description for CNC milling machine.</p>
              <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <button type="button" class="btn btn btn-outline-secondary">More detail</button>
                  <button type="button" class="btn btn btn-outline-secondary">Book a machine</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'fablab/graphtech.jpg' %}" alt="3D printers">
            <div class="card-body">
              <p class="card-text">Description for Vinyl Cutter.</p>
              <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <button type="button" class="btn btn btn-outline-secondary">More detail</button>
                  <button type="button" class="btn btn btn-outline-secondary">Book a machine</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'fablab/Plotter.jpg' %}" alt="3D printers">
            <div class="card-body">
              <p class="card-text">Description for Plotter.</p>
              <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <button type="button" class="btn btn btn-outline-secondary">More detail</button>
                  <button type="button" class="btn btn btn-outline-secondary">Book a machine</button>
                </div>
              </div>
            </div>
          </div>
        </div>
       <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">Description for T-Shirt Press.</p>
              <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <button type="button" class="btn btn btn-outline-secondary">More detail</button>
                  <button type="button" class="btn btn btn-outline-secondary">Book a machine</button>
                </div>
              </div>
            </div>
          </div>
        </div>

       <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">Description for Mug Press.</p>
              <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <button type="button" class="btn btn btn-outline-secondary">More detail</button>
                  <button type="button" class="btn btn btn-outline-secondary">Book a machine</button>
                </div>
              </div>
            </div>
          </div>
        </div>
       <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">Description for Electronics components and Tools.</p>
              <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <button type="button" class="btn btn btn-outline-secondary">More detail</button>
                  <button type="button" class="btn btn btn-outline-secondary">Book a machine</button>
                </div>
              </div>
            </div>
          </div>
        </div>
       <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">Description for Power and Hand Tools.</p>
              <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <button type="button" class="btn btn btn-outline-secondary">More detail</button>
                  <button type="button" class="btn btn btn-outline-secondary">Book a machine</button>
                </div>
              </div>
            </div>
          </div>
        </div>

</main>

{% endblock %}
